@import "./../../styles/colors.scss";

.header{
    background-color: var(--redColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    .headerTitle{
        font-size: 28px;
        color: #fff;
        width: 200px;
    }
    .headerImg{
        width: 150px;
        height: 100px;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}