.ContainerList{
    p{
        text-align: justify;
        text-indent: 2em;
    }
    ul{
        padding-left: 17px;
        margin-top: 10px;
        li{
           margin: 5px 0px;
        }
    }
}